doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='/jquery/jquery-2.1.3.min.js')
    script(src='/pure/libs/pure.js')
    script(src='/foundation/js/foundation/foundation.js')

    block javascript
